# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files\*.h5
*.pth
*.p

# Large data files
*.mp4
*.avi
*.json

# Image and video files (optional, eğer bazılarını yüklemek istersen kaldırabilirsin)
*.jpg
*.jpeg
*.png

# Augmented images directory
aug_images/

# Dataset directories
deepfashion/
deepfashion2/
fashion_mnist_data/
human_parsing/
myData/

# Ignore hidden system files
.DS_Store
Thumbs.db
