# Genel Python ve Jupyter Notebook ignore kuralları
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Model dosyaları (Makine Öğrenimi / Derin Öğrenme modelleri)
*.h5
*.pth
*.pkl
*.p
*.onnx
*.pb
*.tflite
*.joblib
*.ckpt

# JSON veri dosyaları (Büyük veri setleri için)
*.json

# Görüntü ve video dosyaları (Eğer gereksizse)
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tiff
*.mp4
*.avi
*.mov
*.mkv

# Çıktı ve log dosyaları
*.log
*.out
*.err
*.csv
*.tsv

# Geçici ve sistem dosyaları
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*.tmp

OpenCV/U-2-Net/
OpenCV/bb/
OpenCV/cloth-segmentation/

